<div *ngIf="TimerIsNul()"></div>
<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">
  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
      <div *ngIf="buttonOpnieuw || timerApp <= 0; then thenLinks else elseLinks"></div>
        <ng-template #thenLinks>  
          <button mat-button style="background-color:cornflowerblue;"  (click)="Initialize()">Opnieuw spelen</button>
        </ng-template>
        <ng-template #elseLinks>   
          <label>Geef een getal tussen 1 en 100</label>
          <input mat-input min="1" max="100" type="number" [(ngModel)]="getal" (keydown.enter)="Enter($event)"/>
          <button mat-button style="background-color:cornflowerblue;;" (click)="DoeEenGok()">Doe een gok</button>
          <label>{{messageGetal}}</label>
        </ng-template>
      <!--<div *ngIf="buttonOpnieuw || timerApp <= 0; then thenBlock else elseBlock">-->
    </div><!--<div fxFlex="50" fxLayout="column">-->
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column">
        <div *ngIf="buttonOpnieuw || timerApp <= 0; then thenRechts else elseRechts"></div>
        <ng-template #thenRechts>  
          <label>{{messageGetal}}</label>
          <label>{{messageTimer}}</label>
        </ng-template>
        <ng-template #elseRechts>
          <label> U heeft nog {{teller}} beurten</label>
          <label> U heeft nog {{timerApp}} seconden </label>
        </ng-template>
      </div><!--<div fxFlex="50" fxLayout="column">-->
  </div><!--<div fxLayout="row wrap">-->
</div><!--<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height:100vh">-->